<h1>Mutant Funding</h1>

I am most like 

<select name="mutant">
  <option>Wolverine</option>
  <option>Banshee</option>
  <option>Nightcrawler</option>
</select>

and need to raise

$<input type="text" name="amount"/>
<input type="submit" value="Go"/>
